<h3>Meu Perfil</h3>
<div ng-controller="UpdateController"> 
    <form novalidate>
    <div class='form-group'>
        <label for='input-nome'>Nome</Label>
        <input type="text" ng-model="user.nome" value="" placeholder="Nome" size="55" required>
    </div>
    <div class='form-group'>
        <label for='input-endereco'>Endereço</Label>
    <input type="text" ng-model="user.cep" value="" placeholder="CEP" size="8">
    <input type="text" ng-model="user.endereco" value="" placeholder="Rua,Av,Logradouro" size="42">
    <input type="text" ng-model="user.endNum" value="" placeholder="Numero" size="4">
    <input type="text" ng-model="user.endComplemento" value="" placeholder="Complemento" size="20">
    </div>
    <div class='form-group'>
        <label for='input-estado'>Estado</Label>
    <input type="text" ng-model="user.estado" value="" placeholder="Estado" size="25">
    </div>
    <div class='form-group'>
        <label for='input-cidade'>Cidade</Label>
    <input type="text" ng-model="user.cidade" value="" placeholder="Cidade" size="25">
    </div>
    <div class='form-group'>
        <label for='input-universidade'>Universisdade</Label>
    <input type="text" ng-model="user.universidade" value="" placeholder="Universidade" size="30" required>
    </div>
    <div class='form-group'>
        <label for='input-telefone'>Telefone</Label>
    <input type="text" ng-model="user.telefone" value="" placeholder="Telefone" size="20">
    </div>
    <div class='form-group'>
        <label for='input-celular'>Celular</Label>
    <input type="text" ng-model="user.celular" value="" placeholder="Celular" size="20">
    </div>
    <div class='form-group'>
        <label for='input-email'>Email</Label>
    <input type="email" ng-model="user.email" value="" placeholder="Email" required>
    </div>
    <div class='form-group'>
        <label for='input-senha'>Senha</Label>
    <input type="password" ng-model="user.password" value="" placeholder="Password" required>
    </div>
    <input type="hidden" ng-model="user.action" ng-init="user.action='Update'">
    <button ng-click="updateUser()" class="btn btn-default">Salvar Alterações</button>

</div>